.aplayer .aplayer-lrc {
    height: 35px;
}
.aplayer .aplayer-lrc p{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px !important;
}
.aplayer .aplayer-lrc p.aplayer-lrc-current{
    color: #FF1493;
}
.aplayer.aplayer-narrow .aplayer-body{
    left: -66px !important;
    transition: left 1s;
}
.aplayer.aplayer-narrow .aplayer-body:hover{
    left: 0 !important;
}
.aplayer.aplayer-fixed .aplayer-lrc {
    display: none;
}
.aplayer .aplayer-lrc.aplayer-lrc-hide {
    display:none !important;
}
.aplayer.aplayer-fixed .lrc-show {
    display: block;
    background: rgba(255, 255, 255, 0.8);
}
.aplayer.aplayer-fixed .aplayer-body {
    position: fixed;
    bottom: 58px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 99;
    background: #fff;
    padding-right: 18px;
    transition: all 0.3s ease;
    max-width: 400px; 
}
.aplayer.aplayer-withlist .aplayer-list {
    display: none; 
}
.aplayer.aplayer-fixed {
    position: fixed;
    /* bottom: 58px !important;
    left: -53px !important; */
}